# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = "Justin"
	email = justinpinkney@gmail.com

[core]
	autocrlf = input
    filemode = false

[alias]
    s = status
    ls = log --oneline --graph --decorate --all
